<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Admin page</title>
    <style>
        {
            box-sizing: border-box
        ;
        }
        .box1 {
            width: 15%;
            display: table-cell;
            vertical-align: top;

        }

        .box2 {
            width: 85%;
            display: table-cell;
            vertical-align: top;
        }

        select {
            width: 200px;
        }
    </style>
</head>
<body>
<div align="center">
    <h1> Admin page</h1>


    <div class="search-container">
        <form action="/admin/search/">
            <input type="text" placeholder="Search.." name="title" required>
            <input type="submit" value="Search" class="btn btn-primary"/>

        </form>
    </div>
    <a th:href="@{/admin/new}" class="btn btn-primary">Add new Book</a>
    <a th:href="@{/books}" class="btn btn-primary">To the shopping list</a>
    <a th:href="@{/logout}" class="btn btn-primary">Logout</a>
    <form class="box1" th:action="@{/admin/filter}" th:object="${filterObject}">
        <div class="form-floating col">
            <label>Sections</label>
            <select class="form-select" th:field="*{section}">
                <option selected value=""></option>
                <option th:each="section: ${sectionList}" th:value="${section}"
                        th:text="${section}">
                </option>
            </select>
            <div class="form-floating col">
                <label>Languages</label>
                <select class="form-select" th:field="*{language}">
                    <option selected value=""></option>
                    <option th:each="language: ${languageList}" th:value="${language}"
                            th:text="${language}">
                    </option>
                </select>
            </div>
            <div class="form-floating col">
                <label>Min price</label>
                <input class="form-control" type="number" step="1" th:field="*{amountFrom}"
                       placeholder=""/>
            </div>
            <div class="form-floating col">
                <label>Max price</label>
                <input class="form-control" type="number" step="1" th:field="*{amountTo}"
                       placeholder=""/>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Apply</button>
    </form>
    <div class="box2">
        <table class="table table-striped">
            <thead>
            <tr>
                <td>Title</td>
                <td>Author</td>
                <td>Price</td>
                <td>Sections</td>
                <td>Language</td>
                <td>Available in the storage</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="Book : ${list}">

                <td th:text="${Book.title}"></td>
                <td th:text="${Book.author}"></td>
                <td th:text="${Book.price}"></td>
                <td th:text="${Book.section}"></td>
                <td th:text="${Book.language}"></td>
                <td th:text="${Book.quantity}"></td>

                <td><a th:href="@{/admin/update/{id} (id=${Book.book_id})}">Edit</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>