<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Basket</title>
</head>
<body>
<div align="center">

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Price</th>
            <th scope="col">Sections</th>
            <th scope="col">Language</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="Book : ${list}">
            <form th:action="@{/cart/buy/{id} (id=${Book.book_id})}">
                <td th:text="${Book.title}"></td>
                <td th:text="${Book.author}"></td>
                <td th:text="${Book.price}"></td>
                <td th:text="${Book.section}"></td>
                <td th:text="${Book.language}"></td>
                <td><input type="submit" value="Buy" class="btn btn-primary"/></td>
                <td><a th:href="@{/cart/delete/{id}  (id=${Book.book_id})}" class="btn btn-primary">Cancel order</a></td>
            </form>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/cart/checkout}" class="btn btn-primary">Checkout</a>
    <a th:href="@{/books/}" class="btn btn-primary">Back to the shopping list</a>


</div>
</body>
</html>