<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
</head>
<body>
<div align="center">
    <h1> There has been an error </h1>
    <label th:text="${message}"> </label>
    <a th:href="@{/books/}">Back to the shopping list</a>
</div>
</body>
</html>