<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Book Store</title>
    <style>
        {
            box-sizing: border-box
        ;
        }
        .box1 {
            width: 15%;
            display: table-cell;
            vertical-align: top;

        }

        .box2 {
            width: 85%;
            display: table-cell;
            vertical-align: top;
        }

        select {
            width: 200px;
        }

        header {
            padding: 30px;
            text-align: center;
            background-color: darkkhaki;
        }

        #buttonCart {
            float: right;
            background-color: green;
        }

        #buttonLogout {
            float: right;
            background-color: red;
        }

        #buttonHistory {
            float: right;
        }

        #buttonNoFilters {
            float: left;
        }
    </style>
</head>
<body>
<header>
    <div class="search-container">
        <form action="/books/search/">
            <input type="text" placeholder="Search.." name="title" required>
            <input type="submit" value="Search" class="btn btn-primary"/>

        </form>
    </div>
    <a th:href="@{/cart}" class="btn btn-primary" id="buttonCart" style="margin:5px;">Shopping cart</a>
    <a th:href="@{/cart/history}" class="btn btn-primary" id="buttonHistory" style="margin:5px;">Shopping history</a>
    <a th:if="${#authorization.expression('isAuthenticated()')}" th:href="@{/logout}"
       class="btn btn-primary" id="buttonLogout" style="margin:5px;">Logout</a>
    <a th:href="@{/books}" class="btn btn-primary" id="buttonNoFilters" style="margin:5px;">Remove all filters</a>
</header>
<div align="center">
    <div class="container">
        <div class="row">
            <form class="box1" th:action="@{/books/filter}" th:object="${filterObject}">
                <div class="form-floating col">
                    <label>Sections</label>
                    <select class="form-select" th:field="*{section}">
                        <option selected value=""></option>
                        <option th:each="section: ${sectionList}" th:value="${section}"
                                th:text="${section}">
                        </option>
                    </select>
                    <div class="form-floating col">
                        <label>Languages</label>
                        <select class="form-select" th:field="*{language}">
                            <option selected value=""></option>
                            <option th:each="language: ${languageList}" th:value="${language}"
                                    th:text="${language}">
                            </option>
                        </select>
                    </div>
                    <div class="form-floating col">
                        <label>Min price</label>
                        <input class="form-control" type="number" step="1" th:field="*{amountFrom}"
                               placeholder=""/>
                    </div>

                    <div class="form-floating col">
                        <label>Max price</label>
                        <input class="form-control" type="number" step="1" th:field="*{amountTo}"
                               placeholder=""/>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Apply</button>

            </form>
            <div class="box2">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Author</th>
                        <th scope="col">Price</th>
                        <th scope="col">Sections</th>
                        <th scope="col">Language</th>
                        <th scope="col">Available in the storage</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="Book : ${list}">

                        <td th:text="${Book.title}"></td>
                        <td th:text="${Book.author}"></td>
                        <td th:text="${Book.price}"></td>
                        <td th:text="${Book.section}"></td>
                        <td th:text="${Book.language}"></td>
                        <td th:text="${Book.quantity}"></td>

                        <td><a th:href="@{/cart/basket/{id} (id=${Book.book_id})}" class="btn btn-primary">Add to the
                            cart</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

</body>
</html>